rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == "hongaar@gmail.com";
    }

    match /updates/{update} {
        match /comments/{comment} {
          allow create: if true;
          allow delete: if (resource.data.date.toMillis() + 3600000 > request.time.toMillis());
        }
    }
    
    match /likes/{document=**} {
        allow read, write: if true;
    }
  }
}