@import url("https://fonts.googleapis.com/css2?family=Lora&family=Mooli&display=swap");

:root {
  font-size: 20px;
}

body,
button,
input {
  font-family: "Mooli", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
