@import url("https://fonts.googleapis.com/css2?family=Lora&family=Mooli&display=swap");

:root {
  font-family: "Mooli", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: normal;
}

// form

fieldset {
  padding: var(--spacing);
  border: var(--border-width) solid var(--form-element-border-color);
}

legend {
  padding: 0 calc(var(--spacing) * 0.5);
}
